@CHARSET "UTF-8";
.header{border-bottom:1px solid #ccc;margin-bottom:5px;}
.MainContainer{}
.sidebar{width:15%;height:100%;float:left;margin-right:-180px;border-right:2px solid #ccc;min-height:800px;padding:5px;background-color: #f0f0f0}
.main{float:left;margin-left:200px;padding:5px; bac }
.content{padding:0 10px;}
.coursemanager  a {
	text-indent: 60px;color: blue
}
.studentmanager  a {
	text-indent: 60px;color: blue;
}
table {width: 1500px;border:1px solid green;font-size: 20px;}
tr{height: 30px;}
td{border: 1px solid grey; border-collapse: collapse; width: 300px; text-align: center;}
.tabletitle{background: #f0f0f0}
#page{font-size: 20px;}